{% extends 'CRMapp/base.html' %}

{% block content %}
    <body>
    <br>
    <br>
    <div class="text-center">
        <br>
        <br>
        <br>
        <br>
        <br>
        <h3> TicketTrek: Navigating Customer Support with Ease !!!  </h3>
        <br>
        <h5> Keep track of your records effectively </h5>
        <hr>
        <br>
        <a class="btn btn-primary" type="button" href="{% url 'register' %}">  <i class="fa fa-user-plus" aria-hidden="true"></i> &nbsp Create your account   </a>
    </div>
    </body>

{% endblock %}
